# First ignoring all files
*

# Now removing from ignore list
!.gitignore

# Git
!.gitignore_global
!.gitconfig

# Common folders
!.config/

# X
!.xinitrc
!.Xresources
!.XCompose

# Bash
!.bashrc
!.bash_profile
!.bash_logout

!.config/bash/
!.config/bash/*
!.config/bash/*/
!.config/bash/*/*

# Lock image
!.xlock/icon.png

# Installed pacman apps
!.config/.apps

# Vim
!.vimrc

# i3
!.config/i3/
!.config/i3/config
!.config/i3/i3blocks.conf
!.config/i3/scripts/
!.config/i3/scripts/*
!.config/i3/workspaces/
!.config/i3/workspaces/*
!.config/i3blocks/
!.config/i3blocks/Blocks/
!.config/i3blocks/Blocks/*
