# First ignoring all files
*

# Now removing from ignore list
!.gitignore

# Git
!.gitconfig
!.gitmodules

# Common folders
!.config/

# X
!.xinitrc
!.Xresources
!.XCompose

# Picom
!.config/picom.conf

# Shell
!.profile

# Bash
!.bashrc
!.bash_profile
!.bash_logout

# Zsh
!.zshrc
!.zshenv
!.oh-my-custom-zsh/
!.oh-my-custom-zsh/themes/
!.oh-my-custom-zsh/themes/my_agnoster.zsh-theme
!.oh-my-custom-zsh/plugins/
!.oh-my-custom-zsh/plugins/zsh-completions

# Lock image
!.xlock/
!.xlock/icon.png

# Installed pacman apps
!.config/.apps

# Vim
!.vimrc
!.vim/
!.vim/.ycm_extra_conf.py

# Nvim
!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/theme.vim
!.config/nvim/coc-settings.json

# rofi
!.config/rofi/
!.config/rofi/*

# xfce4 terminal
!.config/xfce4/
!.config/xfce4/terminal/
!.config/xfce4/terminal/terminalrc

# kitty terminal
!.config/kitty/
!.config/kitty/kitty.conf
!.config/kitty/theme.conf

# ranger file manager
!.config/ranger/
!.config/ranger/commands_full.py
!.config/ranger/commands.py
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh

# i3
!.config/i3/
!.config/i3/config
!.config/i3/scripts/
!.config/i3/scripts/*
!.config/i3/workspaces/
!.config/i3/workspaces/*
!.config/polybar/
!.config/polybar/*

# tig
!.tigrc
