[user]
	name = Helena Steck
	email = steckhelena@gmail.com

[core]
	editor = vim
	fileMode = false
	excludesfile = /home/steckhelena/.gitignore_global
	quotepath = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
