# First ignoring all files
*

# Now removing from ignore list
!.gitignore

# Git
!.gitconfig

# Common folders
!.config/

# X
!.xinitrc
!.Xresources
!.XCompose

# Bash
!.bashrc
!.bash_profile
!.bash_logout

# Zsh
!.zshrc

# Lock image
!.xlock/icon.png

# Installed pacman apps
!.config/.apps

# Vim
!.vimrc

# rofi
!.config/rofi/
!.config/rofi/*

# xfce4 terminal
!.config/xfce4/terminal/terminalrc

# i3
!.config/i3/
!.config/i3/config
!.config/i3/scripts/
!.config/i3/scripts/*
!.config/i3/workspaces/
!.config/i3/workspaces/*
!.config/polybar/
!.config/polybar/*
