[user]
	name = Marco Antonio Steck Filho
	email = steckmarco@outlook.com

[core]
	editor = vim
	fileMode = false
	excludesfile = /home/steckmarco/.gitignore_global
	quotepath = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
