[user]
  name = Helena Steck
  email = steckhelena@gmail.com
[core]
  editor = vim
  fileMode = false
  excludesfile = /home/steckhelena/.gitignore_global
  quotepath = false
[alias]
	g = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(yellow)%h%C(reset) %s%C(reset) %C(dim white)<%an>%C(reset) %C(bold blue)%ar%C(reset)%C(bold yellow)%d%C(reset)'
[merge]
  tool = vimdiff
  keepBackup = false
[mergetool]
  prompt = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
  keepBackup = false
