" Initializing plugins
Plug 'scrooloose/nerdtree'

" NERDTree mapping toggle with ctrl+n
map <C-n> :NERDTreeToggle<CR>

" GoTo code navigation.
nmap <silent> gd :action GotoDeclaration<CR>
nmap <silent> gy :action GotoTypeDeclaration<CR>
nmap <silent> gi :action GotoImplementation<CR>
nmap <silent> gr :action ShowUsages<CR>

" navigate forward and backward
nnoremap <C-i> :action Forward<CR>
nnoremap <C-o> :action Back<CR>

" disable search highlight
nnoremap <silent> <CR> :noh<CR><CR>

set incsearch
set hlsearch
set ideajoin
