" Initializing plugins
set nerdtree
set commentary

" NERDTree mapping toggle with ctrl+n
map <C-n> :NERDTreeToggle<CR>

" GoTo code navigation.
nmap <silent> gd :action GotoDeclaration<CR>
nmap <silent> gy :action GotoTypeDeclaration<CR>
nmap <silent> gi :action GotoImplementation<CR>
nmap <silent> gr :action ShowUsages<CR>

" " navigate forward and backward
nmap <C-i> <Action>(Forward)
nmap <C-o> <Action>(Back)

" disable search highlight
nnoremap <silent> <CR> :noh<CR><CR>

set incsearch
set hlsearch
set ideajoin
