window {
    anchor:     north west;
    location:   north west;
    width:      12%;
    children:   [ vertibox ];
}

vertibox {
    orientation: vertical;
    children:   [ listview ];
}

listview {
    lines: 2;
}
