window {
    anchor:     center;
    location:   center;
    width:      15%;
	margin:     0 0 0 0;
    children:   [ vertibox ];
}

vertibox {
    orientation: vertical;
    children:   [ listview ];
}
