configuration {
	kb-row-up: "Up,k";
	kb-row-down: "Down,j";
}

window {
    width:      15%;
    children:   [ vertibox ];
}

vertibox {
    orientation: vertical;
    children:   [ promptbox, listview ];
}

textbox-prompt {
  content: "Keyboard layout";
}

listview {
    lines:  2;
}

@import "config.rasi"
