configuration {
	kb-row-up: "Up,k";
	kb-row-down: "Down,j";
}

window {
    anchor:     center;
    location:   center;
    width:      15%;
	margin:     0 0 0 0;
    children:   [ vertibox ];
}

vertibox {
    orientation: vertical;
    children:   [ prompt, listview ];
}

listview {
    border: 2px dash 0px 0px ;
    lines:  2;
}

@import "config.rasi"
