configuration {
	kb-row-up: "Up,k";
	kb-row-down: "Down,j";
}

window {
    width:      12%;
    children:   [ vertibox ];
}

vertibox {
    orientation: vertical;
    children:   [ promptbox, listview ];
}

textbox-prompt {
  content: "Polybar network iface";
}

listview {
    border: 2px dash 0px 0px ;
}

@import "config.rasi"
