configuration {
   lines: 5;
}

window {
    anchor:     north east;
    location:   north east;
    width:      20%;
    children:   [ vertibox ];
}

vertibox {
    orientation: vertical;
    children:    [ listview ];
}
